* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.page {
  height: 100vh;

  display: grid;
  grid-template-areas:
    'nav nav'
    'main main'
    'footer footer'
  ;
}

nav {
  grid-area: nav;                   /*HEADER*/

  margin: 20px auto 0;
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  width: 267.21px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

a {
  color: #1f1534;
  text-decoration: none;
}

ul li a {
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}


h1,
ul {
  font-family: "Mulish", sans-serif;
}

main {
  width: 80%;
  margin: 55px auto 0;    /*MAIN*/
  grid-area: main;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  width: 489.38px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;

  font-weight: normal;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;

  margin: 40px 0;
}

button {
  color: white;
  font-family: "Open Sans", sans-serif;

  background: #69B99D;
  border: 0;
  padding: 15.5px 32px 16.5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12.09px;

  border-radius: 4px;

  cursor: pointer;
}

button:hover {
  background: #4EA788;
}

footer {
  margin: 82px auto 0;     /*FOOTER*/
  width: 80%;
  grid-area: footer;

  font-size: 14px;
  line-height: 28px;

  text-align: center;
}

footer a {
  font-weight: bold;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}